.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    perspective: 1000px;
    /* ativa o efeito 3D */
}

.card-deus {
    width: 260px;
    height: 400px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 25px rgba(34, 34, 34, 0.6);
    cursor: default;

    transition:
        transform 0.6s ease,
        box-shadow 0.6s ease,
        opacity 0.4s ease;

    transform-style: preserve-3d;
    opacity: 1;
}

.card-deus.fade-out {
    opacity: 0;
}

.card-deus:hover {
    transform: rotateY(8deg) rotateX(3deg) scale(1.05);
    box-shadow:
        0 0 15px rgba(111, 0, 0, 0.8),
        0 0 30px rgba(255, 0, 0, 0.7),
        0 0 50px rgba(69, 8, 8, 0.9),
        0 0 70px rgba(32, 2, 2, 0.9);
}

/* Botões de controle */
.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}