/* Conteúdo Card */

.conteudo-card2:hover {
    transform: translate3d(0px, 0px, 50px);
}

.conteudo-card2 {
    padding-top: 20px;
    text-align: center;
    font-size: 21px;
    color: rgb(185, 185, 185);
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}