@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:ital,opsz,wght@0,6..12,200,1000,1,6,12,200..1000&display=swap');

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
    /* Largura da barra de rolagem */
}

/* Estilo da pista da barra de rolagem */
::-webkit-scrollbar-track {
    background: rgba(206, 206, 206, 0.1);
    /* Fundo da pista */
    border-radius: 10px;
    /* Bordas arredondadas */
}

/* Estilo do polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    /* Cor do polegar */
    border-radius: 10px;
    /* Bordas arredondadas */
}

/* Estilo do polegar quando em foco */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
    /* Cor do polegar ao passar o mouse */
}

* {
    /* Define o box-sizing como border-box para todos os elementos */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Define a fonte padrão para todos os elementos */
    font-family: "Nunito Sans", sans-serif;
    /* Define o dimensionamento óptico da fonte */
    font-optical-sizing: auto;
    /* Define o peso da fonte */
    font-weight: 500;
    /* Define o estilo da fonte */
    font-style: normal;
    /* Configurações de variação da fonte */
    font-variation-settings: "wdth" 100, "YTLC" 500;
}

body {
    background: rgb(20, 20, 20);
    padding: 0 50px;
    background-image: url("img/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.titulo {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke: 2px white;
    padding: 2px;
    border-radius: 10px;
    /* Efeito neon */
    animation: neon 1.5s infinite alternate;
    /* Animação de brilho neon */
}

@keyframes neon {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 1);
    }

    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 1);
    }
}

.container {
    /* Adiciona padding à container */
    padding: 50px 50px;
    flex-direction: row;
    display: flex;
    /* Define a altura da container */
    height: 85vh;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.principal {
    /* Define a altura e largura do elemento principal */
    height: 400px;
    width: 300px;
    /* Adiciona padding ao principal */
    padding: 20px;
    /* Define a perspectiva para o elemento */
    perspective: 10000px;
}


.card-Arthur {
    padding-top: 100px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
    /* Define a imagem de fundo do card */
    background-image: url("img/3.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 420px;
    background-position: center center;
    /* Define a largura do card */
    width: 100%;
    height: 110%;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona bordas arredondadas */
    border-radius: 10px;
}



.card-Joui {
    /* Adiciona padding no topo do card */
    padding-top: 100px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
    /* Define a imagem de fundo do card */
    background-image: url("img/6.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 420px;
    /* Define a posição da imagem de fundo */
    background-position: center center;
    /* Define a largura do card */
    width: 100%;
    height: 110%;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona bordas arredondadas */
    border-radius: 10px;
}

.card-Kaiser {
    padding-top: 100px;
    transform-style: preserve-3d;
    background-image: url("img/9.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 420px;
    background-position: center center;
    width: 100%;
    height: 110%;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.card-dante {
    /* Adiciona padding no topo do card */
    padding-top: 100px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
    /* Define a imagem de fundo do card */
    background-image: url("img/12.gif");
    background-repeat: no-repeat;
    /* A posição da imagem de fundo foi ajustada para exibir a parte esquerda */
    background-position: left right;
    /* Exibe a parte esquerda do GIF */
    background-size: 500px 400px;
    /* Ajusta o tamanho da imagem */
    /* Define a largura e altura do card */
    width: 100%;
    height: 110%;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona bordas arredondadas */
    border-radius: 10px;
}


.card-liz {
    /* Adiciona padding no topo do card */
    padding-top: 100px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
    /* Define a imagem de fundo do card */
    background-image: url("img/13.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 560px;
    /* Define a posição da imagem de fundo */
    background-position: center center;
    /* Define a largura do card */
    width: 100%;
    height: 110%;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona bordas arredondadas */
    border-radius: 10px;
}

.card-thiago {
    /* Adiciona padding no topo do card */
    padding-top: 100px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
    /* Define a imagem de fundo do card */
    background-image: url("img/16.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 500px;
    /* Define a posição da imagem de fundo */
    background-position: center center;
    /* Define a largura do card */
    width: 100%;
    height: 110%;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona bordas arredondadas */
    border-radius: 10px;
}


.card-Arthur:hover {
    /* Muda a posição da imagem de fundo no hover */
    background-position: 80% 20%;
    /* Rotaciona o card no hover */
    transform: rotate3d(1, 1, 0, 30deg);
}

.card-Joui:hover {
    /* Muda a posição da imagem de fundo no hover */
    background-position: 80% 20%;
    /* Rotaciona o card no hover */
    transform: rotate3d(0.5, 0, 0, 30deg);
}

.card-Kaiser:hover {
    background-position: 80% 20%;
    /* Rotaciona o card no hover */
    transform: rotate3d(1, -1, 0, 30deg);
}

.card-dante:hover {
    /* Muda a posição da imagem de fundo no hover */
    background-position: 80% 20%;
    /* Rotaciona o card no hover */
    transform: rotate3d(0.1, 0.1, 0, 30deg);
}

.card-liz:hover {
    /* Muda a posição da imagem de fundo no hover */
    background-position: 80% 20%;
    /* Rotaciona o card no hover */
    transform: rotate3d(0.5, 0, 0, 30deg);
}

.card-thiago:hover {
    /* Muda a posição da imagem de fundo no hover */
    background-position: 80% 20%;
    /* Rotaciona o card no hover */
    transform: rotate3d(1, -1, 0, 30deg);
}

.conteudo-box-1 {
    /* Define a altura e largura do conteudo-box */
    height: 100%;
    width: 100%;
    /* Define a cor de fundo com transparência */
    /* Adiciona bordas arredondadas ao conteudo-box */
    border-radius: 0px 0px 10px 10px;
    transition: all 0.5s ease-in-out;
    /* Adiciona padding ao conteudo-box */
    padding: 40px 25px 25px 25px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
    animation: neonArthur 1.5s infinite alternate;
}

@keyframes neonArthur {
    0% {
        box-shadow: rgba(255, 0, 0, 0.925) 0px 55px 90px -25px;
    }

    50% {
        box-shadow: rgba(255, 0, 0, 0.925) 0px 55px 60px -25px;
    }

    100% {
        box-shadow: rgba(255, 0, 0, 0.925) 0px 55px 40px -25px;
    }
}

.conteudo-box-2 {
    /* Define a altura e largura do conteudo-box */
    height: 100%;
    width: 100%;
    /* Define a cor de fundo com transparência */
    /* Adiciona bordas arredondadas ao conteudo-box */
    border-radius: 0px 0px 10px 10px;
    /* Adiciona uma sombra */
    box-shadow: rgba(255, 230, 0, 0.925) 0px 55px 50px -25px;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona padding ao conteudo-box */
    padding: 40px 25px 25px 25px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
    animation: neonJoui 1.5s infinite alternate;
}

@keyframes neonJoui {
    0% {
        box-shadow: rgba(255, 230, 0, 0.925) 0px 55px 90px -25px;
    }

    50% {
        box-shadow: rgba(255, 230, 0, 0.925) 0px 55px 60px -25px;
    }

    100% {
        box-shadow: rgba(255, 230, 0, 0.925) 0px 55px 40px -25px;
    }
}

.conteudo-box-3 {
    /* Define a altura e largura do conteudo-box */
    height: 100%;
    width: 100%;
    /* Define a cor de fundo com transparência */
    /* Adiciona bordas arredondadas ao conteudo-box */
    border-radius: 0px 0px 10px 10px;
    /* Adiciona uma sombra */
    box-shadow: rgba(212, 0, 255, 0.925) 0px 55px 50px -25px;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona padding ao conteudo-box */
    padding: 40px 25px 25px 25px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
    animation: neonKaiser 1.5s infinite alternate;
}

@keyframes neonKaiser {
    0% {
        box-shadow: rgba(212, 0, 255, 0.925) 0px 55px 90px -25px;
    }

    50% {
        box-shadow: rgba(212, 0, 255, 0.925) 0px 55px 60px -25px;
    }

    100% {
        box-shadow: rgba(212, 0, 255, 0.925) 0px 55px 40px -25px;
    }
}

.conteudo-box-4 {
    /* Define a altura e largura do conteudo-box */
    height: 100%;
    width: 100%;
    /* Define a cor de fundo com transparência */
    /* Adiciona bordas arredondadas ao conteudo-box */
    border-radius: 0px 0px 10px 10px;
    /* Adiciona uma sombra */
    box-shadow: rgba(0, 0, 0, 0.925) 0px 20px 50px -25px;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona padding ao conteudo-box */
    padding: 40px 25px 25px 25px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
    animation: neonDante 1.5s infinite alternate;
}

@keyframes neonDante {
    0% {
        box-shadow: rgba(0, 0, 0, 0.925) 0px 55px 90px -25px;
    }

    50% {
        box-shadow: rgba(27, 27, 27, 0.925) 0px 55px 60px -25px;
    }

    100% {
        box-shadow: rgba(39, 39, 39, 0.925) 0px 55px 40px -25px;
    }
}


.conteudo-box-5 {
    /* Define a altura e largura do conteudo-box */
    height: 100%;
    width: 100%;
    /* Define a cor de fundo com transparência */
    /* Adiciona bordas arredondadas ao conteudo-box */
    border-radius: 0px 0px 10px 10px;
    /* Adiciona uma sombra */
    box-shadow: rgba(208, 255, 0, 0.925) 0px 20px 50px -25px;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona padding ao conteudo-box */
    padding: 40px 25px 25px 25px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
}

.conteudo-box-6 {
    /* Define a altura e largura do conteudo-box */
    height: 100%;
    width: 100%;
    /* Define a cor de fundo com transparência */
    /* Adiciona bordas arredondadas ao conteudo-box */
    border-radius: 0px 0px 10px 10px;
    /* Adiciona uma sombra */
    box-shadow: rgba(0, 255, 0, 0.925) 0px 20px 50px -25px;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona padding ao conteudo-box */
    padding: 40px 25px 25px 25px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
}


.card-titulo {
    /* Define a cor do título */
    color: white;
    /* Define o tamanho da fonte do título */
    font-size: 25px;
    text-align: center;
    padding-top: 120px;
    /* Define o peso da fonte do título */
    font-weight: 900;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Transforma a posição do título no eixo Z */
    transform: translate3d(0px, 0px, 20px);
}

.card-titulo:hover {
    /* Aumenta a transformação no eixo Z no hover */
    transform: translate3d(0px, 0px, 50px);
}

.conteudo-card {
    /* Adiciona padding no topo do conteúdo do card */
    padding-top: 20px;
    text-align: center;
    font-size: 21px;
    /* Define a cor do texto */
    color: rgb(185, 185, 185);
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Transforma a posição do conteúdo no eixo Z */
    transform: translate3d(0px, 0px, 20px);
}

.conteudo-card:hover,
.conteudo-card2:hover,
.conteudo-card3:hover {
    transform: translate3d(0px, 0px, 50px);
}

.conteudo-card2 {
    /* Adiciona padding no topo do conteúdo do card */
    padding-top: 20px;
    text-align: center;
    font-size: 21px;
    /* Define a cor do texto */
    color: rgb(185, 185, 185);
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Transforma a posição do conteúdo no eixo Z */
    transform: translate3d(0px, 0px, 20px);
}

.conteudo-card3 {
    /* Adiciona padding no topo do conteúdo do card */
    padding-top: 20px;
    text-align: center;
    /* Define o tamanho da fonte do conteúdo */
    font-size: 21px;
    /* Define a cor do texto */
    color: rgb(185, 185, 185);
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Transforma a posição do conteúdo no eixo Z */
    transform: translate3d(0px, 0px, 20px);
}

.veja-mais-1 {
    /* Define o display como block */
    display: block;
    /* Define o tamanho da fonte */
    font-size: 11px;
    /* Define o peso da fonte */
    font-weight: 900;
    /* Define o texto em maiúsculas */
    text-transform: uppercase;
    /* Define a cor do texto */
    color: rgb(255, 0, 0);
    /* Adiciona padding no topo */
    padding-top: 25px;
    text-align: center;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Transforma a posição do texto no eixo Z */
    transform: translate3d(0px, 0px, 20px);
}

.veja-mais-2 {
    /* Define o display como block */
    display: block;
    /* Define o tamanho da fonte */
    font-size: 11px;
    /* Define o peso da fonte */
    font-weight: 900;
    /* Define o texto em maiúsculas */
    text-transform: uppercase;
    /* Define a cor do texto */
    color: rgb(255, 238, 0);
    /* Adiciona padding no topo */
    padding-top: 25px;
    text-align: center;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Transforma a posição do texto no eixo Z */
    transform: translate3d(0px, 0px, 20px);
}

.veja-mais-3 {
    /* Define o display como block */
    display: block;
    /* Define o tamanho da fonte */
    font-size: 11px;
    /* Define o peso da fonte */
    font-weight: 900;
    /* Define o texto em maiúsculas */
    text-transform: uppercase;
    /* Define a cor do texto */
    color: rgb(183, 0, 255);
    /* Adiciona padding no topo */
    padding-top: 25px;
    text-align: center;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Transforma a posição do texto no eixo Z */
    transform: translate3d(0px, 0px, 20px);
}

.veja-mais-4 {
    /* Define o display como block */
    display: block;
    /* Define o tamanho da fonte */
    font-size: 11px;
    /* Define o peso da fonte */
    font-weight: 900;
    /* Define o texto em maiúsculas */
    text-transform: uppercase;
    /* Define a cor do texto */
    color: rgb(0, 0, 0);
    /* Adiciona padding no topo */
    padding-top: 25px;
    text-align: center;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Transforma a posição do texto no eixo Z */
    transform: translate3d(0px, 0px, 20px);
}

.veja-mais-5 {
    /* Define o display como block */
    display: block;
    /* Define o tamanho da fonte */
    font-size: 11px;
    /* Define o peso da fonte */
    font-weight: 900;
    /* Define o texto em maiúsculas */
    text-transform: uppercase;
    /* Define a cor do texto */
    color: rgb(255, 238, 0);
    /* Adiciona padding no topo */
    padding-top: 25px;
    text-align: center;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Transforma a posição do texto no eixo Z */
    transform: translate3d(0px, 0px, 20px);
}

.veja-mais-6 {
    /* Define o display como block */
    display: block;
    /* Define o tamanho da fonte */
    font-size: 11px;
    /* Define o peso da fonte */
    font-weight: 900;
    /* Define o texto em maiúsculas */
    text-transform: uppercase;
    /* Define a cor do texto */
    color: rgb(9, 255, 0);
    /* Adiciona padding no topo */
    padding-top: 25px;
    text-align: center;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Transforma a posição do texto no eixo Z */
    transform: translate3d(0px, 0px, 20px);
}

/* Sessão HOVER do veja-mais 1,2,3,4,5 e 6*/
.veja-mais-1:hover,
.veja-mais-2:hover,
.veja-mais-3:hover,
.veja-mais-4:hover,
.veja-mais-5:hover,
.veja-mais-6:hover {
    /* Aumenta a transformação no eixo Z no hover */
    transform: translate3d(0px, 0px, 50px);
}


/* Aplica um filtro de rotação de matiz de 150 graus à card2 */
.card2 {
    filter: hue-rotate (150deg);
}

/* Aplica um filtro de rotação de matiz de 300 graus à card3 */
.card3 {
    filter: hue-rotate (300deg);
}

/* Aplica um filtro de rotação de matiz de 90 graus à card4 */
.card4 {
    filter: hue-rotate (90deg);
}

/* RELIQUIAS */


/*Deus da morte */

.card-Deus {
    padding-top: 100px;
    transform-style: preserve-3d;
    background-image: url("img/morte.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 420px;
    background-position: center center;
    /* Define a largura do card */
    width: 100%;
    height: 110%;
    /* Adiciona uma transição suave */
    transition: all 0.5s ease-in-out;
    /* Adiciona bordas arredondadas */
    border-radius: 10px;
}

.card-Deus:hover {

    background-position: 80% 20%;
    transform: rotate3d(1, 1, 0, 30deg);
}

.conteudo-box-morte {
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    transition: all 0.5s ease-in-out;
    /* Adiciona padding ao conteudo-box */
    padding: 40px 25px 25px 25px;
    /* Mantém o estilo 3D */
    transform-style: preserve-3d;
    animation: neonMorte 3.5s infinite alternate;
}

@keyframes neonMorte {
    0% {
        box-shadow: rgba(0, 0, 0, 0.925) 0px 55px 90px -25px;
    }

    50% {
        box-shadow: rgba(24, 0, 0, 0.925) 0px 55px 60px -25px;
    }

    100% {
        box-shadow: rgba(66, 0, 0, 0.925) 0px 55px 40px -25px;
    }
}

.veja-mais-morte {
    display: block;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    padding-top: 25px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}

.veja-mais-morte:hover {
    transform: translate3d(0px, 0px, 50px);
}

/*ANFITRIÃO */

.card-Anfi {
    padding-top: 100px;
    transform-style: preserve-3d;
    background-image: url("img/ANFITRAS.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 420px;
    background-position: center center;
    width: 100%;
    height: 110%;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.card-titulo-anfi {
    font-size: 25px;
    text-align: center;
    padding-top: 120px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
    animation: neonEnergia2 1.2s infinite alternate;
}

.card-Anfi:hover {
    background-position: 80% 20%;
    transform: rotate3d(0.5, 0, 0, 30deg);
}

.conteudo-box-energia {
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    transition: all 0.5s ease-in-out;
    padding: 40px 25px 25px 25px;
    transform-style: preserve-3d;
    animation: neonEnergia 1.2s infinite alternate;
}

@keyframes neonEnergia {
    0% {
        box-shadow: rgba(255, 0, 128, 0.925) 0px 55px 90px -25px;
    }

    10% {
        box-shadow: rgba(32, 136, 255, 0.925) 0px 55px 100px -30px;
    }

    20% {
        box-shadow: rgba(0, 255, 136, 0.925) 0px 55px 80px -20px;
    }

    30% {
        box-shadow: rgba(161, 0, 135, 0.925) 0px 55px 40px -25px;
    }

    40% {
        box-shadow: rgba(132, 0, 255, 0.925) 0px 55px 30px -25px;
    }

    50% {
        box-shadow: rgba(32, 136, 255, 0.925) 0px 55px 80px -25px;
    }

    60% {
        box-shadow: rgba(6, 255, 180, 0.925) 0px 55px 20px -25px;
    }

    70% {
        box-shadow: rgba(20, 220, 255, 0.925) 0px 55px 60px -25px;
    }

    80% {
        box-shadow: rgba(180, 88, 255, 0.925) 0px 55px 50px -20px;
    }

    90% {
        box-shadow: rgba(128, 255, 0, 0.925) 0px 55px 70px -25px;
    }

    100% {
        box-shadow: rgba(180, 88, 255, 0.925) 0px 55px 80px -25px;
    }
}

.veja-mais-energia {
    display: block;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 25px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
    animation: neonEnergia2 1.2s infinite alternate;
}

@keyframes neonEnergia2 {
    0% {
        color: rgba(255, 0, 128, 0.925);
    }

    10% {
        color: rgba(32, 136, 255, 0.925);
    }

    20% {
        color: rgba(0, 255, 136, 0.925);
    }

    30% {
        color: rgba(161, 0, 135, 0.925);
    }

    40% {
        color: rgba(132, 0, 255, 0.925);
    }

    50% {
        color: rgba(32, 136, 255, 0.925);
    }

    60% {
        color: rgba(6, 255, 180, 0.925);
    }

    70% {
        color: rgba(20, 220, 255, 0.925);
    }

    80% {
        color: rgba(180, 88, 255, 0.925);
    }

    90% {
        color: rgba(128, 255, 0, 0.925);
    }

    100% {
        color: rgba(180, 88, 255, 0.925);
    }
}

.veja-mais-energia:hover {
    transform: translate3d(0px, 0px, 50px);
}