* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  transition: background-image 1s ease-in-out;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.App {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1900px;
  /* antes estava 1000px */
}